<ion-header>
  <ion-toolbar>
    <ion-title>Recent Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngFor = "let row of data" (click)="getDetails(row)">
	  <img src="https://kiyo-blog.000webhostapp.com/assets/uploads/post/{{row.file_gambar}}">
	  <ion-card-header>
		 <ion-badge>{{row.nama_kategori}}</ion-badge>	  	
	    <ion-card-title>{{row.judul}}</ion-card-title>
	    <ion-card-subtitle><b>{{row.nama_penulis}}</b> | {{(row.tgl_insert | slice:0:16)}}</ion-card-subtitle>
	  </ion-card-header>
	  <ion-card-content>
	  	<div [innerHTML] ="(row.isi_post.length > 50) ? (row.isi_post | slice:0:50) : row.isi_post">
	   	</div>
	  </ion-card-content>
	</ion-card>
</ion-content>
