<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      KiyoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">KiyoApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome to KiyoApp!</strong>
    <p>Cari bacaan kesukaanmu</p>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="posts" color="tertiary">
          <ion-label>Home</ion-label>
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="recents" color="tertiary">
          <ion-label>Recents</ion-label>
          <ion-icon name="rocket-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
